Flask==3.0.3
Flask-Dropzone==2.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Markdown==3.7
MarkupSafe==2.1.5
PyPDF2==3.0.1
PyYAML==6.0.2
SQLAlchemy==2.0.28
Werkzeug==3.0.4
anthropic==0.18.1
openai==1.42.0
pytest==8.0.2